@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Urbanist';
  src: url('@/assets/fonts/Urbanist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist';
  src: url('@/assets/fonts/Urbanist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist';
  src: url('@/assets/fonts/Urbanist-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color-100: #101f2c;
  --primary-color-darker-100: #020c14;
  --primary-color-200: #0f2538;
  --primary-color-300: #152b3d;
  --secondary-color-100: #1e6bae;
  --secondary-color-200: #135b90;
  --secondary-color-300: #0d3d63;
  --tertiary-color-100: #e0f8fc;
  --tertiary-color-200: #def7fc;
  --text-color-white: #fffefe;
  --text-color-blue-white: #e0f8fc;
  --text-color-blue: #1e6bae;

  --primary-color-100-opacity-4: #101f2c66;
  // SVG skills
  --html-color: #f16529;
  --css-color: #2965f1;
  --javascript-color: #f7df1e;
  --vue-color: #42b883;
  --sass-color: #cf649a;
  --tailwind-color: #4bb0b4;
  --nodejs-color: #8cc84b;
  --express-color: #ffffff;
  --mysql-color: #00618a;
  --git-color: #f03c2e;

  --drop-shadow-values-top: 0 0 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Urbanist', system-ui, sans-serif;
  font-weight: normal;
  color: var(--text-color-blue-white);
  scroll-behavior: smooth;
  letter-spacing: 1px;
}

::selection {
  background-color: var(--secondary-color-300);
  color: var(--text-color-blue);
}

::-moz-selection {
  background-color: var(--secondary-color-300); /* Set the background color for Mozilla Firefox */
  color: var(--text-color-blue); /* Set the text color for Mozilla Firefox */
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}
.button-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 50;
  button {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary-color-200);
    transition: all 0.1s ease;

    &:hover {
      svg {
        fill: var(--secondary-color-200);
      }
    }
    &:active {
      transform: translateY(3px);
      box-shadow: 0 0 10px var(--text-color-blue-white);
    }
    svg {
      height: 25px;
      width: 25px;
      fill: var(--text-color-blue-white);
    }
  }
}

.cursor {
  position: fixed;
  filter: blur(70px);
  width: 600px;
  height: 400px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(
    circle,
    var(--primary-color-100) 30%,
    var(--primary-color-100) 70%,
    transparent 100%
  );
  opacity: 0.2;
  transform: translate(-50%, -50%);
}
.section-hidden {
  opacity: 0;
}
.section-show {
  opacity: 1;
}
.section-title {
  width: fit-content;
  font-size: 2.7rem;
  border-bottom: 3px solid var(--secondary-color-100);
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .button-to-top {
    bottom: 40px;
    right: 40px;
    button {
      svg {
        height: 35px;
        width: 35px;
      }
    }
  }
}
